<form action="logado" method="POST">
    <p>Login <input type="text" name="login"> </p>    
    <p>Senha <input type="password" name="password"> </p>
    <button type="submit"> Logar </button>
</form>

<!-- Este html não possui a estrutura (header|body), pois ele está definido no layout/main.handlebars.

[*] o action é para informar para qual rota o usuário irá enviar o formulário.  